#################################################################################################
#                                                                              					#
#                             Primary requirements                             					#
#                                                                              					#
#                                 CHANGE ME !!!                                					#
#                                                                                               #
#                                                                                               #
# To check the outdated dependencies run                                                        #
#       docker-compose run --rm --no-deps ckan-consumer eval pip list --outdated                #
# Update me and then run                                                                        #
#       docker-compose run --rm ckan-consumer pip_freeze                                             #
#                                                                              					#
#################################################################################################

aet.consumer >= 3.4.1
aether-python
ckanapi
deepmerge
eha_jsonpath
flake8
flake8-quotes
jsonschema
pytest
pytest-cov
pytest-runner
requests
responses
sqlalchemy
