#########################################################################################
#                                                                              		    #
#                              Frozen requirements                             		    #
#                                                                              		    #
#                               DO NOT CHANGE !!!                              		    #
#                                                                              		    #
# To update this first update 'primary-requirements.txt'                       		    #
# then run 'docker-compose run ckan-consumer pip_freeze'                                #
#                                                                              		    #
#########################################################################################
